<include file="Public:header"/>
<!-- header end -->
<div class="title">
    <img src="__IMAGES__/set-db.png"/>

    <h2>专家风采管理</h2>
</div>
<div class="boxwrap">
    <div class="box">
        <div class="box-title">版块说明</div>
        <div class="box-content">
            <p>本板块管理专家风采。你可以通过左侧板块管理已有的专家；或者在右侧添加新的专家。</p>
        </div>
    </div>
</div>
<div class="boxwrap80">
    <div class="box">
        <div class="box-title">所有专家</div>
        <div class="box-content no-padding">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>照片</th>
                    <th>添加时间</th>
                </tr>
                </thead>
                <tbody>
                <volist name="experts" id="vo">
                    <tr>
                        <td>{$vo.tid}</td>
                        <td>
                            {$vo['tname']}
                            <div class="operate">
                                <a href="" class="btn btn-xs btn-primary" target="_blank">查看</a>
                                <a href="__URL__/DeleteExpert/id/{$vo['tid']}" class="conf-del btn btn-xs btn-danger">删除</a>
                            </div>
                        </td>
                        <td>{$vo['tpic']}</td>
                        <td>{$vo['ttime']}</td>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- footer -->
<include file="Public:footer"/>