<include file="Public:header"/>
<!-- header end -->
<div class="title">
    <img src="__IMAGES__/set-db.png"/>

    <h2>添加新教练</h2>
</div>

<div class="boxwrap">
    <div class="box">
        <div class="box-title">版块说明</div>
        <div class="box-content">
            <p>本板块可以添加新的教练</p>
        </div>
    </div>
</div>
<form action="__URL__/saveFile" enctype="multipart/form-data" method="post" id="export-add">
<div class="boxwrap60">
    <div class="box">
        <div class="box-title">
            1、编辑正文（*默认14px字体，段首使用tab或4个空格）
        </div>
        <div class="box-content no-padding">
            <textarea name="edetail" id="edetail">
                <present name="detail">{$Expertdetail}</present>
            </textarea>
        </div>
    </div>
</div>
<div class="boxwrap40">
    <div class="box">
        <div class="box-title">
            添加新专家
        </div>
        <div class="box-content">
           
                <div class="form-group">
                    <label for="name">*教练名</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="填写教练名">
                </div>
                <div class="form-group">
                    <label for="file">选择文件</label>
                    <input type="file" id="sfile" name="sfile">
                    <p class="help-block">请务必选择360*230的图片，不超过2MB</p>
                </div>
                <button type="submit" class="btn btn-primary" id="export-subm">确认提交</button>
          
        </div>
    </div>
</div>
</form>

<!-- ================ -->
<!-- loading -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="__IMAGES__/loading.gif" id="load-img"/>
                <span style="line-height: 16px;margin-left: 20px;" id="load-tips">保存中，请稍候……</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- ============== -->
<!--editor-->
<script charset="utf-8" src="__EDITOR__/kindeditor-min.js"></script>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#edetail',{
            resizeType: '1',    //高度可拖动
            width: '100%',
            height: '600px',
            cssData: 'body { font-size: 14px; }',
            fillDescAfterUploadImage: 'true',
          //  uploadJson: '__URL__/upload_json',
            afterBlur: function () { this.sync(); },
            afterCreate: function(){ $('.ke-container').css("border", "none")},
            items: [
                'source', 'preview', '|', 'undo', 'redo', 'cut', 'copy', 'paste',
                'plainpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'insertfile', 'table', 'hr', 'emoticons', 'baidumap',
                'anchor', 'link', 'unlink', '|', 'about'
            ]
        });
    });
    var SelectData = $.parseJSON('{$sublist}');
    var isRevise = "{$isRevise}", par = "{$par}", sub = "{$sub}", essay = $.parseJSON('{$essay}');/*{//需要放在引号里，防止被js误解析}*/
    $(document).ready(CheckSelectData);
    $(document).ready(CheckRevise);
</script>
<include file="Public:footer"/>