<include file="Public:header"/>
<!-- ==================== -->
<div class="title">
    <img src="__IMAGES__/set-db.png"/><h2>欢迎使用&nbsp;Feidian·Manager&nbsp;V1.0</h2>
</div>
<div class="boxwrap">
    <div class="box">
        <div class="box-title">
            欢迎
        </div>
        <div class="box-content">
            <p>你好！欢迎使用Feidian·Manager管理“武汉生态学会官方网站”！</p>
            <p><strong>{$Think.session.adminName}</strong>是你当前登录的用户名。如果你是第一次登录你的帐号，请点击&nbsp;<a href="__URL__/UpdateOwnInfo" class="btn btn-primary btn-xs">更改初始密码</a></p>
            <p>你在本系统的管理权限是：<strong>{$Iam}</strong></p>
        </div>
    </div>
</div>
<div class="boxwrap">
    <div class="box">
        <div class="box-title">
            系统使用说明
        </div>
        <div class="box-content">
            <p>本系统所有功能请参考左侧菜单，点击菜单将进入对应的管理页面。各个页面都有相应的版块说明，描述了该板块的内容、功能以及使用方法。</p>
            <p>本系统实行分级管理，管理员分为root管理员、超级管理员、普通管理员。不同等级的管理员可以使用的功能有所不同。如果你是root管理员或者超级管理员，可以进入“管理员列表”和“栏目设置”以及“公司链接管理”和“公司信息管理”页面而普通管理员则没有权限看到这些信息。查看具体的管理员分级信息。</p>
        </div>
    </div>
</div>
<div class="boxwrap">
    <div class="box">
        <div class="box-title">
            关于本系统
        </div>
        <div class="box-content">
            <p>沸点工作室·站点管理系统&nbsp;Feidian·Manager&nbsp;V1.0</p>
            <p>本系统由施浩宏开发，版权归华中农业大学理学院沸点工作室所有。</p>
            <p>如果您在使用过程中遇到什么问题，或者出现漏洞、错误，请联系我，或者沸点工作室。</p>
            <p>QQ：734459639&nbsp;&nbsp;&nbsp;&nbsp;E-mail：734459639@qq.com</p>
            <p>沸点工作室地址：逸夫楼A405</p>
        </div>
    </div>
</div>
<!-- =================== -->
<include file="Public:footer"/>