<!DOCTYPE html>
<html>
<head>
    <title>{$PageTitle}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/admin.css"/>
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/admin.js"></script>
    <script type="text/javascript" src="__JS__/modal.js"></script>
</head>
<body>
<div id="menu-area"></div>
<div id="menu">
	<div class="logo">
		<a href="__APP__" title="点击打开站点首页">
		<img src="__IMAGES__/logo-manage.png" alt="沸点工作室后台管理系统" class="fn-left"/>
		</a>
	</div>
	<div class="welc">
		<p>你好，{$adminName}！</p>
		<p>选择下列菜单进行操作</p>
	</div>
	<!-- menu -->
    <div class="menu-list">首页管理</div>
    <ul class="menu-option">
        <li><a href="__APP__/Admin/Homepage/UpdateSlider">更新大图</a></li>
    </ul>
    <div class="menu-list">文章管理</div>
    <ul class="menu-option">
        <li><a href="__APP__/Admin/Essay/AllEssay">所有文章</a></li>
        <li><a href="__APP__/Admin/Essay/BuildEssay">写新文章</a></li>
    </ul>
    <div class="menu-list">专家风采</div>
    <ul class="menu-option">
        <li><a href="__APP__/Admin/Expert/allExpert">教练管理</a></li>
    </ul>
    <div class="menu-list">下载中心</div>
    <ul class="menu-option">
        <li><a href="__APP__/Admin/File/allFile">文件管理</a></li>
    </ul>
    <div class="menu-list">管理员空间</div>
    <ul class="menu-option">
        <li><a href="__APP__/Admin/Index/UpdateOwnInfo">修改个人信息</a></li>
        <li><a href="__APP__/Admin/Index/index">帮助信息</a></li>
    </ul>
    <div class="menu-list">系统设置</div>
    <ul class="menu-option">
        <li><a href="__APP__/Admin/System/AdminList">管理员列表</a></li>
        <li><a href="__APP__/Admin/System/SetColumn">栏目设置</a></li>
    </ul>
    <div class="menu-list">其他管理</div>
    <ul class="menu-option">
        <li><a href="__APP__/Admin/Other/allLink">链接管理</a></li>
        <li><a href="__APP__/Admin/Other/allInfo">公司信息管理</a></li>
    </ul>
	<!-- -->
	<div class="ope">
		<a class="tohome" href="__APP__/Home" title="打开首页" target="_blank"></a>
		<a class="chgpwd" href="UpdateOwnInfo" title="修改密码"></a>
		<a class="logout" href="__APP__/Admin/Index/logout" title="安全退出系统"></a>
		<div class="fn-clear"></div>
	</div>
	<div class="copyright"><p>Powered By 沸点工作室</p></div>
</div>
<div id="main"><!--这个div不要删除-->
    <div id="pageinfo">
        <!--警告&成功-->
        <present name="pageError">
            <div class="tf-tips error"><span class="close-tips" title="关闭"></span>{$pageError}</div>
        </present>
        <present name="pageSuccess">
            <div class="tf-tips success"><span class="close-tips" title="关闭"></span>{$pageSuccess}</div>
        </present>
        <!-- -->
    </div>