<div id="footer">
     <p>Powerby SunShine &nbsp;&nbsp;&nbsp 鄂ICP备15002472号-1</p>
    <p>CopyRight©2015 版权所有：SunShine</p>

</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".area").hover(function(){
	  $(this).find(".qq").show(80);}
	  ,function(){
		$(this).find(".qq").hide(80);
	});
});
</script>
<script type="text/javascript" src="__PUBLIC__/Js/js.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/home.js"></script>

</body>
</html>