<include file="Public:header"/>
    
    <div id="container">
       <div class="main-left">
          <div class="parts">
               <h1>栏目导航</h1>
               <div class="content">
                <ul class="list">
                  <li><a href="">公司简介</a></li>
                  <li><a href="">领导寄语</a></li>
                  <li><a href="">合作伙伴</a></li>
                </ul>
               </div>
           </div>
    <include file="Public:main_left"/>
        <div class="main-right">
            <div class="detail">
                <div class="title">
                    公司简介
                </div>
                <hr>
                <div class="all-list">
                    <div class="title-list">
                        <div class="theme">活动策划<span><a href="__URL__/Essaylist/code/hdch">more...</a></span></div>
                        <ul class="ul-text">
                           <volist name="hdch" id="li1">
                              <li class="style1"><a href="__URL__/EssayDetail/e/{$li1['eid']}">{$li1['etitle']|subtext=12}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{$li1['erevise']}</span></li>
                           </volist>
                        </ul>
                    </div>
                    <div class="title-list">
                       <div class="theme">趣味运动<span><a href="__URL__/Essaylist/code/qwyd">more...</a></span></div>
                        <ul class="ul-text">
                            <volist name="qwhd" id="li2">
                              <li class="style1"><a href="__URL__/EssayDetail/e/{$li2['eid']}">{$li2['etitle']|subtext=12}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{$li2['erevise']}</span></li>
                           </volist>
                        </ul>
                    </div>
                    <div class="title-list">
                       <div class="theme">赛事承办<span><a href="__URL__/Essaylist/code/sscb">more...</a></span></div>
                        <ul class="ul-text">
                           <volist name="sscb" id="li3">
                              <li class="style1"><a href="__URL__/EssayDetail/e/{$li3['eid']}">{$li3['etitle']|subtext=12}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{$li3['erevise']}</span></li>
                           </volist>
                        </ul>
                    </div>
                    <div class="title-list">
                        <div class="theme">招生培训<span><a href="__URL__/Essaylist/code/zspx">more...</a></span></div>
                        <ul class="ul-text">
                           <volist name="zspx" id="li4">
                              <li class="style1"><a href="__URL__/EssayDetail/e/{$li4['eid']}">{$li4['etitle']|subtext=12}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{$li4['erevise']}</span></li>
                           </volist>
                        </ul>
                    </div>
               </div>
              <div class="img-show">
               <div class="title">图片展示</div>
               <hr>
            <div id="scroller_roll1" class="scroller_roll">
                <ul>
                   <li class="img"><a href=""><img src="__PUBLIC__/Images/static/1.jpg"/></a>
         <!--               <div class="desc">趣味运动</div> -->
                   </li>
                   <li class="img"><a href=""><img src="__PUBLIC__/Images/static/2.jpg"/></a>
                       <!-- <div class="desc">趣味运动</div> -->
                   </li>
                   <li class="img"><a href=""><img src="__PUBLIC__/Images/static/3.jpg"/></a>
                       <!-- <div class="desc">趣味运动</div> -->
                   </li>
                   <li class="img"><a href=""><img src="__PUBLIC__/Images/static/4.jpg"/></a>
                       <!-- <div class="desc">趣味运动</div> -->
                   </li>
                </ul>
            </div>
            </div>
          </div> 
        </div>

    </div>
   <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
   <script language="javascript" type="text/javascript">
            $(function() {
                $("#scroller_roll1").scroller_roll({
                    title_show: 'enable',//enable  disable
                    time_interval: '15',
                    window_background_color: "#C1F0FF",
                    window_padding: '1',
                    border_size: '1',
                    border_color: '#0099CC',
                    images_width: '75',
                    images_height: '70',
                    images_margin: '5',
                    title_size: '12',
                    title_color: 'black',
                    show_count: '3'
                });
            });
        </script>
        
 <include file="Public:footer"/>
    
    